@font-face {
  font-family: "iconfont"; /* Project id 2592129 */
  src: url('iconfont.woff2?t=1622788606809') format('woff2'),
       url('iconfont.woff?t=1622788606809') format('woff'),
       url('iconfont.ttf?t=1622788606809') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-homepage_fill:before {
  content: "\e702";
}

.icon-homepage:before {
  content: "\e703";
}

.icon-people_fill:before {
  content: "\e715";
}

.icon-people:before {
  content: "\e716";
}

.icon-qrcode_fill:before {
  content: "\e71c";
}

.icon-qrcode:before {
  content: "\e71d";
}

.icon-publishgoods_fill:before {
  content: "\e746";
}

